<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="Data Source=SQL5101.site4now.net;Initial Catalog=DB_A6DB8C_Manual;User Id=DB_A6DB8C_Manual_admin;Password=Manual1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
